@import "variables";





/*
no result
 */
.no-result-word{
  font-size:1.5rem;
  color: #4a4a4a;
}
.no-result-img{
  width: 40rem;
}
.no-more-hint{
  width: 100%;
  float: left;
}


/*
image-card
 */
.person-upload,.person-download,.main-image{
  height: auto;
  width: 111rem;
  margin: 0 auto;
}
.total-num{
  width: 100%;
  text-align: left;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-left: 1.5rem;
}
.image-item{
  background: #fff;
  width:24.75rem;
  height: 32.3rem;
  margin: 0 1.5rem 3rem 1.5rem;
  zoom: 1;
  float:left;
  position: relative;
}
.image-item .item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18.54rem;
  font-size: 1.25rem;
  color: #686868;
  overflow: hidden;
  position:relative;
}
.image-item .info{
  opacity: 0;
  width:100%;
  height:100%;
  padding: 1.25rem;
  margin: auto;
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  color: #000;
  background-color: rgba(30,30,30,0.6);
  cursor: pointer;
}
.image-item .btn-warp{
  position:absolute;
  display: inline-block;
  z-index:3;
  top: 1.68rem;
  right: 1.375rem;
}
.image-item .collect-btn,.like-btn{
  display: inline-block;
  float: right;
  line-height: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
  color: #fff;
  border: 0.0625rem solid #fff;
  border-radius: 30px;
  padding: 0.3125rem 0.625rem;
  box-sizing: content-box;
}
.image-item .like-btn{
  margin-right: 0.625rem;
}
.image-item .btn-img{
  width: 1.375rem;
}
.image-item .btn-span{
  padding-left: 0.3215rem;
  float: right;
}
.image-item .btn-active{
  border:0.0625rem solid $normal;
  color:$normal;
}
.image-item .download-warp{
  width: 11.25rem;
  height: 3rem;
  background: #fff;
  border-radius: 3rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height:3rem ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $ss;
}
.image-item .download-img{
  width: 1.6rem;
  height: 1rem;
}
.image-item .download-span{
  float: left;
}
.image-item .photo-info,.folder-info,.bottom-content{
  padding: 0 1.25rem
}
.image-item .works {
  width: 100%;
  overflow: hidden;
  text-align: left;
  height: 8.76rem;
  border-bottom: 0.125rem solid #f5f5f5;
}
.image-item .works-name,.folder-name{
  width: 100%;
  overflow: hidden;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  white-space: nowrap;
}
.image-item .works-name:after,.folder-name:after{
  display: block;
  content: '';
  width: 5rem;
  height:0.125rem;
  background: $normal;
  margin-top: 1rem;
}
.image-item .works-type{
  font-size: 1.2rem;
  white-space: nowrap;
}
.item-content:hover .info{
  opacity: 1;
}
.item-content:hover {
  margin-top: 0;
}
.item-content:hover{
  margin-bottom: 0;
}
.image-item .author{
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.image-item .user-image{
  margin-right: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius: 50%;
}
.image-item .author-name{
  font-size: 1.5rem;
  text-align: left;
  width: 12rem;
  overflow: hidden;
}

.image-item .bottom-data{
  width: 100%;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}
.image-item .img-warp{
  display: flex;
  height: 5rem;
  align-items: center;
}
.image-item .bottom-data img{
  width: 1.5rem;
  height: 1.5rem;
}
.image-item .time{
  font-size: 1.25rem;
  color: #9b9b9b;
}
.image-item .r1rem {
  margin-right: 0.75rem;
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

/*@media screen and (min-width: 2630px){*/
/*.width{*/
/*width: 164.4rem;*/
/*}*/
/*}*/
@media screen and  (min-width: 2240px){
  .width{
    width: 137rem;
  }
}
@media screen and (max-width: 2240px) and (min-width: 1200px){
  .width{
    width: 111rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 925px){
  .width{
    width: 82.2rem;
  }
}
@media screen and (max-width: 925px) and (min-width: 660px){
  .width{
    width: 54.8rem;
  }
}
@media screen and (max-width: 660px) and (min-width: 300px){
  .width{
    width: 27.4rem;
  }
}


/*

 */
